html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  overflow-x: hidden;
}

/* NavMenu Links Hover Effect */
.link {
  position: relative;
  text-decoration: none;
  padding: 6px 12px;
}

.link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 4px;
  background-color: #333333;
  bottom: 0;
  left: 0;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.link:hover::before,
.link-active::before {
  transform-origin: center;
  transform: scaleX(1);
}

.link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 4px;
  background-color: #333333;
  top: 0;
  left: 0;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.link:hover::after,
.link-active::after {
  transform-origin: center;
  transform: scaleX(1);
}
